In [2]:
import pandas as pd # type: ignore

df=pd.read_csv("Biodata.csv") #to read csv file
print(df)

       Name  Gender     Mobile    Id   Address  Nationality
0     suraj    male     545454    11  srinagar       indian
1     reeni  female     565656    22       dun     pakistan
2    prachi  female      98995    33    mumbai    shrilanka
3     komal  female      84845    44     bihar           uk
4  ashirwad    male     124484    55     patna       landon
5     raman    male  215456456    66  bangluru       africa
6       ram    male    4548415    77   kolkata       canada
7     rohit    male     848612    88   chennai  afganishtan
8     megha  female     848481    99        up    newziland
9    kavita  female   24848421  1010    gujrat   australiya

In [ ]:
df=pd.read_csv("Biodata.csv",nrows=2) #read how much row you get
print(df)

   Unnamed: 0   Name  Gender  Mobile  Id   Address Nationality
0           0  suraj    male  545454  11  srinagar      indian
1           1  reeni  female  565656  22       dun    pakistan

In [ ]:
df=pd.read_csv("Biodata.csv",usecols=["Name"]) #single colum get
print(df)

       Name
0     suraj
1     reeni
2    prachi
3     komal
4  ashirwad
5     raman
6       ram
7     rohit
8     megha
9    kavita

In [ ]:
df=pd.read_csv("Biodata.csv",usecols=["Name","Mobile"]) #multiple col get
print(df)

       Name     Mobile
0     suraj     545454
1     reeni     565656
2    prachi      98995
3     komal      84845
4  ashirwad     124484
5     raman  215456456
6       ram    4548415
7     rohit     848612
8     megha     848481
9    kavita   24848421

In [ ]:
df=pd.read_csv("Biodata.csv",usecols=[0,1,2]) #get multiple cols
print(df)

       Name  Gender     Mobile
0     suraj    male     545454
1     reeni  female     565656
2    prachi  female      98995
3     komal  female      84845
4  ashirwad    male     124484
5     raman    male  215456456
6       ram    male    4548415
7     rohit    male     848612
8     megha  female     848481
9    kavita  female   24848421

In [ ]:
df=pd.read_csv("Biodata.csv" , skiprows=[1,2]) #skip rows
print(df)

      suraj    male     545454    11  srinagar       indian
0    prachi  female      98995    33    mumbai    shrilanka
1     komal  female      84845    44     bihar           uk
2  ashirwad    male     124484    55     patna       landon
3     raman    male  215456456    66  bangluru       africa
4       ram    male    4548415    77   kolkata       canada
5     rohit    male     848612    88   chennai  afganishtan
6     megha  female     848481    99        up    newziland
7    kavita  female   24848421  1010    gujrat   australiya

In [5]:
df=pd.read_csv("Biodata.csv", header=2) #change header
print(df)

      reeni  female     565656    22       dun     pakistan
0    prachi  female      98995    33    mumbai    shrilanka
1     komal  female      84845    44     bihar           uk
2  ashirwad    male     124484    55     patna       landon
3     raman    male  215456456    66  bangluru       africa
4       ram    male    4548415    77   kolkata       canada
5     rohit    male     848612    88   chennai  afganishtan
6     megha  female     848481    99        up    newziland
7    kavita  female   24848421  1010    gujrat   australiya

In [ ]:
df=pd.read_csv("Biodata.csv",dtype={"Id":"float"}) #change datatype
print(df)

       Name  Gender     Mobile      Id   Address  Nationality
0     suraj    male     545454    11.0  srinagar       indian
1     reeni  female     565656    22.0       dun     pakistan
2    prachi  female      98995    33.0    mumbai    shrilanka
3     komal  female      84845    44.0     bihar           uk
4  ashirwad    male     124484    55.0     patna       landon
5     raman    male  215456456    66.0  bangluru       africa
6       ram    male    4548415    77.0   kolkata       canada
7     rohit    male     848612    88.0   chennai  afganishtan
8     megha  female     848481    99.0        up    newziland
9    kavita  female   24848421  1010.0    gujrat   australiya